/node_modules
dist/
.next/
.env
/backend/node_modules/
/backend/dist/



# Ignore frontend build and environment files
/frontend/node_modules/
/frontend/dist/
/frontend/.next/
/frontend/.env
/frontend/env/.env.development
/frontend/env/.env.production
