/node_modules
dist/
.next/
.env
.env.*
/backend/node_modules/
/backend/dist/
/backend/src/env/.env.development


# Ignore frontend build and environment files
/frontend/node_modules/
/frontend/dist/
/frontend/.next/
/frontend/.env
/frontend/env/.env.development
